<a href="https://colab.research.google.com/github/Maro94/175IC-machine-learning/blob/main/zadanie2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
from   sklearn import preprocessing
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

data = {
    'size': ['L', 'S',np.nan, 'XS','L', 'S','XLL', 'M'],
    'color': ['green', 'red','blue', 'black','green', np.nan,'green', 'blue'],
    'gender': [np.nan, 'np.nan',np.nan, 'female','male', 'male','female', 'female'],
    'price': [np.nan, 59.0,19.0, 89.0,249.0, 39.0,549.0, 59.0],
    'weight': [np.nan, 310,np.nan, 710,680, np.nan,280, 310],
    'bought': ['yes', 'yes',np.nan, 'yes','no', np.nan,'no', 'no']
}
df_raw = pd.DataFrame(data=data)
df=df_raw.copy()
print(df)

  size  color  gender  price  weight bought
0    L  green     NaN    NaN     NaN    yes
1    S    red  np.nan   59.0   310.0    yes
2  NaN   blue     NaN   19.0     NaN    NaN
3   XS  black  female   89.0   710.0    yes
4    L  green    male  249.0   680.0     no
5    S    NaN    male   39.0     NaN    NaN
6  XLL  green  female  549.0   280.0     no
7    M   blue  female   59.0   310.0     no

In [15]:
#1.	pomiń dane, które mają 3 lub więcej pustych wartości
df.dropna(thresh=len(df.keys())-2,inplace=True)
print (df)

  size  color  gender  price  weight bought
1    S    red  np.nan   59.0   310.0    yes
3   XS  black  female   89.0   710.0    yes
4    L  green    male  249.0   680.0     no
6  XLL  green  female  549.0   280.0     no
7    M   blue  female   59.0   310.0     no

In [17]:
#	wypełnij puste miejsca w kolumnie price wartością średnią
df['price'].fillna(df['price'].mean(), inplace=True)
print(df)

  size  color  gender       price  weight bought
0    L  green     NaN  151.857143     NaN    yes
1    S    red  np.nan   59.000000   310.0    yes
2  NaN   blue     NaN   19.000000     NaN    NaN
3   XS  black  female   89.000000   710.0    yes
4    L  green    male  249.000000   680.0     no
5    S    NaN    male   39.000000     NaN    NaN
6  XLL  green  female  549.000000   280.0     no
7    M   blue  female   59.000000   310.0     no

In [18]:
#	wypełnij puste miejsca w kolumnie weight za pomocą interpolacji
df['weight'].fillna(df['weight'].interpolate(), inplace=True)
print(df)

  size  color  gender       price  weight bought
0    L  green     NaN  151.857143     NaN    yes
1    S    red  np.nan   59.000000   310.0    yes
2  NaN   blue     NaN   19.000000   510.0    NaN
3   XS  black  female   89.000000   710.0    yes
4    L  green    male  249.000000   680.0     no
5    S    NaN    male   39.000000   480.0    NaN
6  XLL  green  female  549.000000   280.0     no
7    M   blue  female   59.000000   310.0     no

In [19]:
#	wypełnij puste miejsca w kolumnie size, color i gender wartościami stałymi (np. unisex, black, male)
df['size'].fillna('L', inplace=True)
df['color'].fillna('black', inplace=True)
df['gender'].fillna('male', inplace=True)
print(df)

  size  color  gender       price  weight bought
0    L  green    male  151.857143     NaN    yes
1    S    red  np.nan   59.000000   310.0    yes
2    L   blue    male   19.000000   510.0    NaN
3   XS  black  female   89.000000   710.0    yes
4    L  green    male  249.000000   680.0     no
5    S  black    male   39.000000   480.0    NaN
6  XLL  green  female  549.000000   280.0     no
7    M   blue  female   59.000000   310.0     no

In [22]:
#	dodaj do słownika kolumnę cost, która reprezentuje cenę jako jedną z klas: 
#cheap, normal_price, expensive; podziału ceny na te klasy dokonaj automatycznie (argument bins metody pandas.cut)
df['cost'] = pd.cut(df['price'], bins=3, labels=('tanio', 'średnio', 'drogo'))
print(df)

  size  color  gender       price  weight bought     cost
0    L  green    male  151.857143     NaN    yes    tanio
1    S    red  np.nan   59.000000   310.0    yes    tanio
2    L   blue    male   19.000000   510.0    NaN    tanio
3   XS  black  female   89.000000   710.0    yes    tanio
4    L  green    male  249.000000   680.0     no  średnio
5    S  black    male   39.000000   480.0    NaN    tanio
6  XLL  green  female  549.000000   280.0     no    drogo
7    M   blue  female   59.000000   310.0     no    tanio

In [38]:
#	dostosuj dane do modelu tak, by przedstawiały wartość binarną (np. bought: [‘yes’, ‘no’, ‘yes’] na bought_yes: [1,0,1])
#pandas wywalal blad 
df['bought_yes'] = df['bought'].apply(lambda x: 1 if 'yes'== x else 0) 
print(df)

  size  color  gender  price  weight bought  bought_yes
0    L  green     NaN    NaN     NaN    yes           1
1    S    red  np.nan   59.0   310.0    yes           1
2  NaN   blue     NaN   19.0     NaN    NaN           0
3   XS  black  female   89.0   710.0    yes           1
4    L  green    male  249.0   680.0     no           0
5    S    NaN    male   39.0     NaN    NaN           0
6  XLL  green  female  549.0   280.0     no           0
7    M   blue  female   59.0   310.0     no           0